<div class="container-fluid" style="margin-left: 10px;margin-right: 10px;">
        <div class="row justify-content-start">
            <div class="col-8">
                <div class="border rounded-0" style="padding: 15px;">
                    <div class="post-preview">
                        <div class="col">
                                Comment:
                                <br></span>
                            </div>

                        <%= form_for :comment do |f| %>

                        <div class="row">
                            <div class="col-auto"><i class="fa fa-user" style="padding-top: -12px;font-size: 68px;"></i></div>
                            <div class="col align-self-center m-auto">
           
                            <%= f.text_area :text, :class => "form-control", :required => "true"%>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col"><span><br></span></div>
                            <div class="col-auto text-right align-self-center">
                            <%= f.submit "Send",:class => "custom-btn btn btn-primary bg-secondary" %>
                         
                        </div>

                        <% end %>


                    </div>
                    <div class="post-preview"><a href="#"></a></div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>